* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


footer {
  display: none;
}
/*.imagelist {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}*/